@mixin labelDom($align, $width, $line-height: "normal") {
  label {
    float: left;
    width: $width + px;
    text-align: $align;
    line-height: $line-height + px;
  }

  .wrap-content {
    margin-left: $width + px;
  }
}